.purltal-font {
    font-family: 'Titillium Web', sans-serif;
}
.purltal-bg {
    background-color: #bbb;
}
.purltal-menu {
    margin-bottom: 5px;
}
.purltal-link {
    margin-bottom: 1px;
}
.purltal-header {
    padding-top: 30px;
    font-size: 60px;
}
.purltal-kategori {
    font-size: 35px;
    margin-bottom: 5px;
    padding-top: 20px;
}

.purtal-container {
	width: 90%;
}

a.icon-block {
    display:inline-block;
    width:10em;
    float:left;
    text-align:center;
}

a.icon-block i,
a.icon-block span {
    display:block;
    width:100%;
    clear:both;
  }
